
div.overlay {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    background: red;
    border-radius: 30px;
}

#close_overlay_bt {
    width: 60px;
    height: 60px;
    top: 0;
    right: 0;
    background: blue;
    position: absolute;
}

